body{
    color: #434455;
    background-color: #FFFFFF; 
    font-family:"Roboto", sans-serif;
    font-weight:700;
    font-style:normal;
    line-height:1.5;
}
 
ul, ol {
	list-style-type: none;
}

/* Logo*/
.logo-web{
    color: #4d5ae5;
    font-family:"Raleway", sans-serif;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;;
    text-transform:uppercase;
}

.studio-logo-title{
    color: #2E2F42;
    font-family:"Raleway", sans-serif;
}

/*Navigation*/
.nav-link{
    color:#2E2F42;
    font-weight:500;
    font-size:16px;
    line-height:1.5; 
    letter-spacing:0.02em;
}

.nav-link:hover,
.nav-link:focus{
    color:#404bbf
}

.add-item{
color:#434455;
font-size:16px;
line-height:1.5; 
letter-spacing:0.02em;
}

.add-item:hover,
.add-item:focus{
    color:#404bbf;
}

/*Effective solutions section*/
.hero-section{
    background-color:#2E2F42;

}

.hero-title{
    color:#ffffff;
    font-size:56px;
    line-height:1.07;
    letter-spacing:0.02em;
    text-align:center;
}

.button-primary{
    color:#ffffff;
    background-color:#4D5AE5;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing:0.04em;
    cursor:pointer;
}

.button-primary:hover,
.button-primary:focus{
    background-color:#404bbf;
}

/*Skills section*/
.skills-title{
    color:#2e2f42;
    font-size:20px;
    font-weight:500;
    line-height:1.2;
    letter-spacing:0.02em;
}

.skills-text{
    color: #434455;
    font-size:16px;
    letter-spacing:0.02em;
}

/*Team section*/
.team-section{
    background-color:#F4F4FD;
}

.team-title{
    color:#2e2f42;
    font-size:36px;
    line-height:1.11;
    text-align:center;
    letter-spacing:0.02em;
    text-transform:capitalize;
}

.team-list-item{
    background-color:#FFFFFF;
}

.team-list-title{
    color:#2e2f42;
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
}

.team-list-text{
    color:#434455;
    font-size:16px;
    letter-spacing:0.02em;
}

/*Portfolio section*/
.port-section-title{
    color:#2e2f42;
    font-size:36px;
    line-height:1.11;
    text-align:center ;
    letter-spacing:0.02em;
    text-transform:capitalize;
}

.port-title{
    color:#2e2f42;
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
}

.port-text{
    color:#434455;
    font-size:16px;
    letter-spacing:0.02em;
}

/*Footer*/
.footer-logo{
    color:#4d5ae5;
    font-family:"Raleway", sans-serif;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform:uppercase;

}
.studio-footer-logo{
color:#f4f4fd;
}

.footer-section{
    background-color:#2e2f42;
}

.footer-text{
    color:#F4F4FD;
    letter-spacing:0.02em;
}
